<div class="container footer-padding col-lg-10 col-lg-offset-1">
  <div class="row">
    <user-navbar />
  </div>
 <h1 class="text-center">Відновлення паролю</h1>

  <form class="col-md-8 col-md-offset-2" name="resetForm" ng-submit="reset.sendResetPassword(reset.resetData)">

    <div class="form-group">
      <label for="mobilePhone">Введіть номер телефону</label>
      <input name="mobilePhone" type="text" class="form-control" id="mobilePhone" placeholder="Введіть номер телефону" ui-mask="+380(99) 999-9999" ui-mask-placeholder required ng-disabled="reset.isSmsShow" ng-model="reset.resetData.mobilePhone" required >
    </div>

    <div class="form-group" ng-if="reset.isSmsShow">
      <label for="smsPassword">Введіть пароль з смс повідомлення</label>
      <input name="smsPassword" type="number" class="form-control" id="smsPassword" placeholder="Пароль з смс повідомлення" ng-model="reset.resetData.smsPassword" ng-disabled="reset.isSmsSendShow" required>
    </div>

    <div class="form-group" ng-if="reset.isSmsSendShow" ng-if="reset.isSmsSendShow" ng-class="{'has-error':reset.isPasswordError}">
      <label for="password">Введіть новий пароль</label>
      <input name="password" type="password" class="form-control" id="password" placeholder="Password" ng-model="reset.resetData.password" required>
    </div>

    <div class="form-group" ng-if="reset.isSmsSendShow" ng-class="{'has-error':reset.isPasswordError}">
      <label for="repeatPassword">Повторно введіть пароль</label>
      <input name="repeatPassword" type="password" class="form-control" id="repeatPassword" placeholder="Password" ng-model="reset.resetData.repeatPassword" required>
      <span class="span-error" ng-if="reset.isPasswordError">Паролі не співпадають </span>
    </div>

    <button id="reset-password-submit" type="submit" ng-disabled="" class="btn btn-success center-block">Змінити</button>
  </form>
</div>

<main-footer></main-footer>


