<div class="aside" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header" >
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="aside-title" >222</h4>
      </div>
      <div class="aside-body" >
        <ul class="nav nav-pills nav-stacked ">
          <li role="presentation" ng-class="{ active: navbar.isActive('/client/profile')}">
            <a href ng-click="navbar.profile()">
              <span class="glyphicon glyphicon-user fa-sidebar" aria-hidden="true"></span>
              <span class="hidden-sm">Змінити пароль</span>
            </a>
          </li>
          <li role="presentation" ng-class="{ active: navbar.isActive('/client/history')}">
            <a href ng-click="navbar.history()">
              <i class="fa fa-comment fa-sidebar"></i>
              <span class="hidden-sm">Змінити логін</span>
            </a>
          </li>
          <li role="presentation" ng-class="{ active: navbar.isActive('/client/propositions')}">
            <a href ng-click="navbar.propositions()">
              <i class="fa fa-comment fa-sidebar"></i>
              <span class="hidden-sm">Заблокувати картку</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="aside-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>
