<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" >
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title" >111</h4>
      </div>
      <div class="modal-body" >
        <form name="registrationForm" novalidate ng-submit="registrationModal.registrationSubmin(registrationModal.MobilePhone,registrationModal.Password,registrationModal.privatePolicy,registrationModal.smsPassword)">
          <div class="form-group">
            <label>Введите номер телефона</label>
            <input type="text" name="MobilePhone" class="form-control" ng-model="registrationModal.MobilePhone" placeholder="Введите номер телефона"   ui-mask="(999) 999-9999" ui-mask-placeholder required ng-disabled="main.isSmsShow">
          </div>
          <div class="form-group">
            <label>Введите пароль</label>
            <input type="password" name="Password" class="form-control" ng-model="registrationModal.Password" placeholder="Введите пароль" required ng-disabled="main.isSmsShow">
          </div>
          <div class="checkbox checkbox-primary" >
            <input id="policy_checkbox" class="styled" type="checkbox" ng-model="registrationModal.privatePolicy" required>
            <label for="policy_checkbox">
              Погоджуюсь з правилами програми
            </label>
          </div>
          <hr/>
          <!--<div>-->
            <div class="form-group" ng-if="main.isSmsShow" >
              <label for="smsPassword">Веедіть пароль з смс</label>
              <input type="number" class="form-control" id="smsPassword" ng-model="registrationModal.smsPassword" placeholder="Веедіть пароль з смс">
              <hr/>
            </div>
          <!--</div>-->
          <!--<pre>-->
            <!--{{main.isSmsShow}}-->
          <!--</pre>-->

          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <button type="submit" class="btn btn-success" ng-disabled="registrationForm.$invalid" ng-click="main.registrationSubmit(registrationModal.MobilePhone,registrationModal.Password,registrationModal.privatePolicy,registrationModal.smsPassword)">Зареєструватись</button>
              <button class="btn btn-warning" type="button" ng-click="$hide()">Відмінити</button>
            </div>
          </div>



        </form>
    </div>
  </div>
 </div>
</div>
