<div class="fixed-sidebar">
<ul class="nav nav-pills nav-stacked ">

  <li role="presentation" ui-sref-active="active" >
    <a href ui-sref="profile" >
      <div class="col-md-2 padding-0" >
      <i class="fa fa-smile-o fa-2x"></i>
        </div>

      <span class="hidden-sm sidebar-text">Профіль</span>
    </a>
  </li>

  <li role="presentation" ui-sref-active="active" >
    <a href ui-sref="history" >
      <div class="col-md-2 padding-0">
      <i class="fa fa-shopping-cart fa-2x"></i>
        </div>
      <span class="hidden-sm sidebar-text">Історія покупок</span>
    </a>
  </li>

  <li role="presentation" ui-sref-active="active" >
    <a href ui-sref="propositions" class="sidebar-prorosition" >
      <div class="col-md-2 padding-0">
      <i class="fa fa-thumbs-up fa-2x"></i>
        </div>
      <span class="hidden-sm sidebar-text">Пропозиції для Вас</span>
    </a>
  </li>

  <li role="presentation" ui-sref-active="active" >
    <a href ui-sref="feedback" class="">
      <div class="col-md-2 padding-0">
        <i class="fa  fa-comment fa-2x"></i>
      </div>
          <span class="hidden-sm sidebar-text">Зворотній зв'язок</span>
    </a>
  </li>
</ul>
</div>

<div class="sidebar-banner hidden-sm hidden-xs "  >


<img src="../assets/images/banner.jpg" class="img-responsive" alt="">

</div>
