<div class="container footer-padding col-lg-10 col-lg-offset-1">
  <div class="row">
      <user-navbar />
 </div>
  <div class="row">
      <div class="carousel-demo">
          <ul rn-carousel rn-carousel-index="carouselIndex2" rn-carousel-auto-slide rn-carousel-pause-on-hover rn-carousel-buffered class="carousel2">
              <li ng-repeat="slide in main.slides" >
                  <div class="bgimage">
                  <!--<div ng-style="{'background-image': 'url(' + slide.img + ')'}"  class="bgimage">-->

                      <img style="z-index: 10" class="img-responsive" ng-src="{{slide.img}}" alt=""/>

                  </div>

              </li>
            <button style="z-index: 100" id="registrationBtn" type="button" class="btn btn-success center-block" data-animation="am-fade-and-scale" data-placement="center" ng-click="main.showRegisterationModal()" >Регистрация</button>

          </ul>
      </div>
</div>

    <section id="promo" class="row ">
        <h2 class="text-center">Як приеднатись до програми</h2>

        <div class="col-xs-12 col-sm-4 col-md-4 promo-block">
            <a ng-href="#" class="center-block">
                <img class="center-block" ng-src="" alt="" holder="holder.js/300x300/text:?">
            </a>
        </div>
            <div class="col-xs-12 col-sm-4 col-md-4 promo-block">
                <a ng-href="#" class="center-block">
                    <img class="center-block" ng-src="" alt="" holder="holder.js/300x300/text:?">
                </a>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 promo-block">
                <a ng-href="#" class="center-block">
                    <img class="center-block" ng-src="" alt="" holder="holder.js/300x300/text:?">
                </a>
            </div>
        </section>
        <section id="benefits" class="row ">
            <!--<div class="container">-->
        <h2 class="text-center">Переваги</h2>
            <div class="col-lg-12 row benefits-block">
                <div class="col-sm-3 col-lg-3 col-xs-12 ">
                    <a ng-href="#" class="center-block">
                        <img class="center-block" ng-src="" alt="" holder="holder.js/150x150/text:?">
                    </a>
                </div>
                <div class="col-lg-9 col-sm-9 col-xs-12">
                    ЕКОНОМІЯ - безліч товарів з приємними цінами та бонусами, накопичивши які можна використати як економію при наступних покупках.
                </div>
            </div>
            <div class=" row benefits-block reorder-xs">
                <div class="col-lg-8 col-sm-9 col-lg-offset-1 ">
                    СПЕЦІАЛЬНІ ПРОПОЗИЦІЇ ї – величезний вибір товарів та пропозицій саме для Вас. Деталі Ви зможете дізнатись зареєструвавшись на нашому сайті чи в будь-якому гіпермаркеті
                </div>
                <div class="col-sm-3 col-lg-3 col-xs-12 ">
                    <a ng-href="#" class="center-block">
                        <img class="center-block" ng-src="" alt="" holder="holder.js/150x150/text:?">
                    </a>
                </div>
            </div>
            <div class="col-lg-12 row benefits-block">
                <div class="col-sm-3 col-lg-3 col-xs-12">
                    <a ng-href="#" class="center-block">
                        <img class="center-block" ng-src="" alt="" holder="holder.js/150x150/text:?">
                    </a>
                </div>
                <div class="col-lg-9 col-sm-9 col-xs-12">
                    ПРИМНОЖУЙ БОНУСИ – отримуй бонуси за покупки та примножуй їх спеціальними пропозиціями.
                </div>
            </div>
        </section>

    <section id="policy" class="row ">
        <h2 class="text-center">ПРАВИЛА ПРОГРАМИ ЛОЯЛЬНОСТІ </h2>
        <h4 class="text-center">Дані Правила визначають умови участі в Програмі лояльності , яка проводиться на території України в мережі магазинів  та аптечних закладів  під знаком для товарів та послуг(далі – «Місце проведення Програми»), у період з 1 січня 2014 року по 31 грудня 2014 року (надалі «Період проведення Програми).</h4>


           <strong>1. Терміни й визначення</strong>

            <p><strong>«Програма»</strong> Програма лояльності , яка є комплексом дій і заходів, що надають Учасникові можливість одержувати й використовувати Бали при купівлі Учасником товарів у Місці проведення Програми.</p>

            <p><strong>«Правила Програми»</strong> – дані Правила, що надаються для ознайомлення кожному Учасникові шляхом розміщення на сайті Програми, та які визначають обсяг прав і обов'язків Виконавця й Учасника при участі в Програмі.</p>

            <p><strong>«Учасник Програми» / «Учасник»</strong> – фізична особа, тримач Картки, яка досягла 18-річного віку, яка є споживачем у розумінні Закону України «Про захист прав споживачів», надала свою згоду на участь у Програмі шляхом заповнення та підписання Анкети в паперовому вигляді або шляхом заповнення та збереженням реєстраційної форми на Сайті Програми, та немає будь-яких обмежень щодо такої участі, однозначно погодилась та приєдналась до Правил Програми, «Угоди користувача» та «Політики конфіденційності».</p>
            <p><strong>«Виконавець Програми»</strong>             –  та ТОВ «БМТС», що володіють усіма правами на управління й розвиток Програми.
            </p>
            <p><strong>«Анкета»</strong>             – паперова реєстраційна форма, яка видається Учасникові для заповнення в Місці проведення Програми, або електронна реєстраційна форма, яка розміщена на Сайті Програми, заповнення якої є заявою особи, що підтверджує бажання стати Учасником Програми, її згодою з усіма Правилами Програми й згодою на зберігання, обробку й використання Виконавцем будь-яких даних Учасника (як персональних, так і загальнодоступних), що знаходяться в Анкеті, на умовах даної Програми.
            </p>
            <p><strong>«Картка»</strong>           – пластикова Картка, яка видається Учасникові на умовах даної Програми після заповнення Анкети та яка має унікальний у рамках Програми	номер, необхідний для ідентифікації Учасника.
            </p>
            <p><strong>«Пін-код Картки»</strong>             – невід’ємний захисний номер, що додається до кожної Картки та видається разом з Карткою Учасника, який він має зберігати під час усього строку дії Програми та повідомляти його тільки Виконавцю Програми за запитом. Учасник не має права розголошувати Пін-код Картки іншим особам. Виконавець не несе будь-якої відповідальності за використання Пін-коду Учасника іншими особами.
            </p>
            <p><strong>«Бали»</strong>             – умовні одиниці (економії), що нараховуються на Рахунок Учасника при здійсненні ним купівлі товарів (окрім подарункових сертифікатів), які реалізуються у рамках Програми, а також за виконання певних дій у рамках спеціальних пропозицій і акцій Програми.
            </p>
            <p><strong>«Рахунок у Програмі» («Рахунок Учасника», «Баланс Балів»)</strong>             – сукупність різних даних у базі даних Виконавця, що містять інформацію про Учасника та його поточний баланс Балів.
            </p>
            <p><strong>«Сайт Програми»</strong>             – Інтернет-сайт, що знаходиться за адресою www.watsons.com.ua/club, за допомогою якого здійснюється інформаційна підтримка Учасників Програми та надаються додаткові сервіси у рамках Програми.
            </p>
            <p><strong>«Інформаційний центр Програми»</strong>             – основні засоби інформаційної підтримки Учасників, а саме Сайт Програми та телефон «гарячої лінії» 0-800-300-333. Всі дзвінки за вказаним номером зі стаціонарних телефонів у межах України є безкоштовними, дзвінки з мобільних телефонів оплачуються згідно з тарифами оператора зв’язку.
            </p>
            <p><strong>«Спеціальна пропозиція»</strong>             – заохочення, економії, та/або інші рекламні заходи, якими можуть скористатись лише Учасники Програми.
            </p>

        <a id="policy-read-more-btn"  type="button" class="btn btn-success center-block"  >Подробно</a>
    </section>

</div>

<main-footer></main-footer>


