<div class="modal-header">
  <h3 class="modal-title">I'm a modal!</h3>
</div>
<div class="modal-body">
  <form name="registrationForm" novalidate ng-submit="registrationModal.registrationSubmin(registrationModal.mobilePhone,registrationModal.password,registrationModal.privatePolicy)">
    <div class="form-group">
      <label>Введите номер телефона</label>
      <input type="text" name="MobilePhone" class="form-control" ng-model="registrationModal.mobilePhone" placeholder="Введите номер телефона"   ui-mask="(999) 999-9999" ui-mask-placeholder required>
    </div>
    <div class="form-group">
      <label>Введите пароль</label>
      <input type="password" name="Password" class="form-control" ng-model="registrationModal.password" placeholder="Введите пароль" required>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="registrationModal.privatePolicy" required> Check me out
      </label>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <button type="submit" class="btn btn-success" ng-disabled="registrationForm.$invalid" ng-click="registrationModal.registrationSubmin(registrationModal.mobilePhone,registrationModal.password,registrationModal.privatePolicy)">Submit</button>
        <button class="btn btn-warning" type="button" ng-click="registrationModal.cancel()">Cancel</button>
      </div>
    </div>
  </form>
</div>
