//.full button span {
//  background-color: limegreen;
//  border-radius: 32px;
//  color: black;
//}
.partially button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}
.order-container {
  padding-top: 20px;
  .order-header {
    background-color: #d8edf7;
    color: #3a87ad;
    font-size: 18px
  }
  .order-header-text{
    font-size: 18px;
    margin-bottom: 0;
  }

}
#history-search-submit {
  background-color: #47a447; color: white;
}
//.client-content-history {
//  h3{
//    //color: white;
//    padding-left: 15px;
//  }
//}
