<nav id="" class="navbar navbar-default client-navbar navbar-fixed-top container padding-0">
  <div class="navbar-header">
  <button ng-click="navbar.openRightAside()" type="button" class="navbar-toggle collapsed">
  <span class="sr-only">Toggle navigation</span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  </button>
  <a id="client-navbar-logo" ng-href="#/client/profile"><img class="img-responsive" src="../assets/images/logo.svg" alt=""/></a>
  <button  ng-click="navbar.openLeftAside()"  type="button" class="navbar-toggle collapsed sidebar-btn pull-left" >
  <span class="sr-only">Toggle navigation</span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  </button>
  </div>
  <button class="btn btn-danger navbar-btn pull-right margin-right-10"><i class="fa fa-sign-out"></i>ВИХІД</button>
</nav>


<!--<nav class="navbar navbar-default client-navbar navbar-fixed-top"  >-->
    <!--<div class="container-fluid">-->
        <!--<div class="navbar-header">-->
            <!--<button ng-click="navbar.openRightAside()" type="button" class="navbar-toggle collapsed">-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <!--<a id="client-navbar-logo" ng-href="#/client/profile"><img class="img-responsive" src="../assets/images/logo.svg" alt=""/></a>-->
            <!--<button  ng-click="navbar.openLeftAside()"  type="button" class="navbar-toggle collapsed sidebar-btn pull-left" >-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
        <!--</div>-->
        <!--<button class="btn btn-danger navbar-btn pull-right"><i class="fa fa-sign-out"></i>ВИХІД</button>-->
    <!--</div>-->
<!--</nav>-->
