  <client-navbar ></client-navbar>
<div class="wrapper container ">
  <div class="aside-flex aside-flex-1  sidebar hidden-xs">
    <client-sidebar></client-sidebar>
  </div>
  <article class="main client-content-profile">
    <!-- content -->
    <div style="" class="card-number center-block">
    <h3 class="font-size-1-3 text-center margin-0">
     <span>Номер картки: </span>
      <span>{{profile.profiles.cardNumber}}</span>
    </h3>
    </div>

    <form name="ClientProfile">
    <div class="row">

    <div class="well col-md-12  ">
    <div class="form-group col-md-4 " id="lastname">

    <label>Прізвище <span style="color: red">*</span></label>
    <input type="text"  validation class="form-control" name="lastname" ng-model="profile.profiles.LastName" ng-minlength="2" placeholder="Прізвище"  >
    </div>
    <div class="form-group col-md-4"     id="firstname">

    <label >Імя <span style="color: red">*</span></label>
    <input type="text" validation class="form-control" name="firstname" ng-model="profile.profiles.FirstName" ng-minlength="1" placeholder="Імя" >

    </div>
    <div class="form-group col-md-4"   id="surname" >

    <label >По-батькові <span style="color: red">*</span></label>
    <input type="text" validation  class="form-control" name="surname" ng-model="profile.profiles.SurName" ng-minlength="2"  placeholder="По-батькові" >
    </div>
    </div>

    <div class="well col-md-12 ">

      <div class="form-group col-md-4 " ng-class="{'has-error': profile.profiles.BirthDay === null}">
      <label ng-if="profile.profiles.BirthDay !== null">Дата народження <span style="color: red">*</span></label>
      <label ng-if="profile.profiles.BirthDay === null"> <span style="color: red">Невірний формат</span></label>
        <div class="input-group ">
    <input  type="text"  name="BirthDayDate" validation ng-model="profile.profiles.BirthDay"  class="form-control" placeholder="Дата народження" bs-datepicker data-autoclose="true" data-start-view="2" data-bs-show="BirthDay.show"  >

    <span class="input-group-btn">
    <button  class="btn calendar" ng-click="BirthDay.show = ! BirthDay.show">
    <i class="fa fa-calendar"></i>
    </button>
    </span>
    </div>
    </div>

    <div class="form-group col-md-4 ">
    <label >Стать</label>
    <select class="form-control "  name="GenderSelect"
    ng-options="option.GenderName for option in profile.profiles.Genders track by option.GendertId"
    ng-model="profile.profiles.selectedGender"></select>
    </div>
    <div class="form-group col-md-4 ">
    <label>Сімейний стан</label>
    <select class="form-control "  name="MaritalStatusSelect"
    ng-options="option.MaritalStatusName for option in profile.profiles.MaritalStatuses track by option.MaritalStatusId"
    ng-model="profile.profiles.selectedMaritalStatus">

    </select>
    </div>
    <div class="form-group col-md-4">
    <label >Мобільний телефон</label>
    <input type="text" class="form-control" ng-model="profile.profiles.MobilePhoneNumber" ui-mask="+380(99) 999-99-99" ui-mask-placeholder  placeholder="Мобільний телефон" >
    </div>
    <div class="form-group col-md-4">
    <label >Домашній телефон </label>
    <input type="tel" class="form-control" ng-model="profile.profiles.HomePhoneNumber" ui-mask="(999) 999-99-99" ui-mask-placeholder placeholder="Домашній телефон">
    </div>
    <div class="form-group col-md-4">
    <label >E-mail</label>
    <input type="email" class="form-control" ng-model="profile.profiles.Email" placeholder="E-mail">
    </div>

    </div>


    <hr/>
    <div class="well col-md-12 ">

    <div class="form-group col-md-4">
    <label >Область</label>
    <select class="form-control "  name="AreaSelect"
    ng-options="option.AreaName for option in profile.profiles.Areas track by option.AreaId"
    ng-model="profile.profiles.selectedArea"
    ng-change="profile.AreaChange(profile.profiles.selectedArea.AreaId)"
    >
    </select>
    </div>
    <div class="form-group col-md-4">
    <label >Район</label>
    <select class="form-control "  name="RegionSelect"
    ng-options="option.RegionName for option in profile.profiles.Regions track by option.RegionId"
    ng-model="profile.profiles.selectedRegion"
    ng-change="profile.RegionChange(profile.profiles.selectedRegion.RegionId)"
    ng-disabled="profile.profiles.RegionSelectIsDisabled"
    >
    </select>
    </div>
    <div class="form-group col-md-4">
    <label >Місто</label>
    <select class="form-control "  name="CityesSelect"
    ng-options="option.CityName for option in profile.profiles.Cities track by option.CityId"
    ng-model="profile.profiles.selectedCity"
    ng-disabled="profile.profiles.CitySelectIsDisabled"
    >
    </select>
    </div>
    <div class="form-group col-md-3">
    <label >Індекс</label>
    <input type="text" class="form-control" ng-model="profile.profiles.ZipCode"  placeholder="Індекс">
    </div>
    <div class="form-group col-md-3">
    <label >Вулиця</label>
    <input type="text" class="form-control" ng-model="profile.profiles.Street" placeholder="Вулиця">
    </div>
    <div class="form-group col-md-3">
    <label >Будинок</label>
    <input type="text" class="form-control" ng-model="profile.profiles.HouseNumber" placeholder="Будинок">
    </div>

    <div class="form-group col-md-3">
    <label >Квартира</label>
    <input type="text" class="form-control" ng-model="profile.profiles.FlatNumber"  placeholder="Квартира">
    </div>
    </div>
    <div class="col-md-12 margin-bottom-15 well" >
    <label class="col-md-12 col-xs-12" >
      У вас є діти?
    </label>
    <div class="checkbox checkbox-primary checkbox-inline">
    <input type="radio" name="KidsIsSelected" id="KidsIsSelected1" ng-model="profile.profiles.KidsIsSelected" ng-change='profile.KidsSelect(profile.profiles.KidsIsSelected)' value="1">
    <label for="KidsIsSelected1">
    Так
    </label>
    </div>
    <div class="checkbox checkbox-primary checkbox-inline">
    <input type="radio" name="KidsIsSelected" id="KidsIsSelected2"   ng-model="profile.profiles.KidsIsSelected" ng-change='profile.KidsSelect(profile.profiles.KidsIsSelected)' value="2">
    <label for="KidsIsSelected2">
    Ні
    </label>
    </div>

    </div>
    <div class="col-md-12 padding-fix" ng-repeat="kid in profile.profiles.Kids" ng-if="profile.profiles.KidsIsSelected == 1">
    <div class="panel panel-default">
    <div class="panel-heading kid-panel-header">
    <h3 class="panel-title"></h3>
    <span class="pull-right clickable" ng-click="profile.KidRemove($index)"><i class="fa fa-times" ></i></span>
    </div>
    <div class="panel-body padding-top-0">
    <div class="form-group col-md-4 ">
    <label>Ім'я дитини</label>
    <input type="text" class="form-control"  placeholder="Ім'я дитини" ng-model="kid.name">
    </div>
    <div class="form-group col-md-4">
    <label >Стать</label>
    <select class="form-control "  name="GenderSelect"
    ng-options="option.GenderName for option in kid.Genders track by option.GendertId"
    ng-model="kid.selectedGender"></select>
    </div>
    <div class="form-group col-md-4">
    <label >Дата народження</label>
    <div class="input-group ">
    <input type="text" ng-model="kid.BirthDay" class="form-control" placeholder="Date" bs-datepicker data-autoclose="true" data-bs-show="kid.BirthDayShow" disabled>


    <span class="input-group-btn">
    <button class="btn calendar" ng-click="kid.BirthDayShow = ! kid.BirthDayShow">
      <i class="fa fa-calendar"></i>
    </button>
    </span>

    </div>
    </div>
    </div>
    </div>
    </div>
    <button class="btn btn-success center-block margin-bottom-10" ng-if="profile.profiles.KidsIsSelected == 1" ng-click="profile.KidAdd($index)">Додати</button>
    <div  class="well col-md-12 ">
    <label class="col-md-12">Домашні тварини</label>
    <div class="row padding-left-15 ">
    <div class="col-md-12 col-xs-12">
    <div class="checkbox checkbox-primary  pets-checkbox-wrapper checkbox-inline col-md-2" ng-repeat="pet in profile.profiles.Pets">
    <input id="{{pet.name}}" class="styled" type="checkbox" ng-model="pet.isSelected">
    <label for="{{pet.name}}">
    {{pet.label}}
    </label>
    </div>
      <div class="col-md-3 pull-right" style="margin-top: -5px">
        <input type="text" ng-model="profile.profiles.PetOther" class="form-control"  placeholder="Інше">
      </div>

    </div>
    </div>
    </div>
    <div  class="well col-md-12 ">
    <label class="col-md-12">Хобі</label>
    <div class="row padding-left-15 " style="margin-left: 20px">

      <div class="checkbox checkbox-primary  hobbi-checkbox-wrapper checkbox-inline col-md-3" style="padding: 0; margin: 0; margin-top:10px " ng-repeat="hobby in profile.profiles.Hobbes ">


    <input id="{{hobby.name}}" class="styled" type="checkbox" ng-model="hobby.isSelected">
    <label for="{{hobby.name}}">
    {{hobby.label}}
    </label>

    </div>

      <div class="col-md-3 " style="margin-left: -20px; padding-left: 0; margin-top:10px ">
        <input type="text" ng-model="profile.profiles.HobbyOther" class="form-control"  placeholder="Інше">
      </div>

    </div>
    </div>
    <div class="well col-md-12 ">

    <div class="form-group col-md-12 col-lg-11 padding-0">
    <div class="form-group">
      <label class="font-size-1-1 col-md-12" >Чи бажаєте ви отримувати e-mail повідомлення з нащими пропозиціями ?</label>
    <div class="checkbox checkbox-primary checkbox-inline">
    <input type="radio" name="CarIsSelected" id="CarIsSelected1"    ng-model="profile.profiles.CarIsSelected.val" value="1">
    <label for="CarIsSelected1">
    Так
    </label>
    </div>
    <div class="checkbox checkbox-primary checkbox-inline">
    <input type="radio" name="CarIsSelected" id="CarIsSelected2"  ng-model="profile.profiles.CarIsSelected.val" value="2">
    <label for="CarIsSelected2">
    Ні
    </label>
    </div>

    </div>

    </div>
    </div>
    <div class="well col-md-12 ">

    <div class="form-group col-md-12 padding-0">
      <label class="font-size-1-1 col-md-12" >Чи бажаєте ви отримувати e-mail повідомлення з нащими пропозиціями ?</label>
    <!--<div class="col-lg-4" >-->
    <div class="checkbox checkbox-primary checkbox-inline">
    <input type="radio" name="SmsIsSelected" id="SmsIsSelected1"    ng-model="profile.profiles.SmsIsSelected.val" value="1">
    <label for="SmsIsSelected1">
    Так
    </label>
    </div>
    <div class="checkbox checkbox-primary checkbox-inline">
    <input type="radio" name="SmsIsSelected" id="SmsIsSelected2"  ng-model="profile.profiles.SmsIsSelected.val" value="2">
    <label for="SmsIsSelected2">
    Ні
    </label>
    </div>
    </div>
    </div>
    <div class="well col-md-12 ">

    <div class="form-group col-md-12  padding-0">
    <label class="font-size-1-1 col-md-12" >Чи бажаєте ви отримувати e-mail повідомлення з нащими пропозиціями ?</label>
    <div class="checkbox checkbox-primary checkbox-inline">
    <input type="radio" name="EmailIsSelected" id="EmailIsSelected1"    ng-model="profile.profiles.EmailIsSelected.val" value="1">
    <label for="EmailIsSelected1">
    Так
    </label>
    </div>
    <div class="checkbox checkbox-primary checkbox-inline">
    <input type="radio" name="EmailIsSelected" id="EmailIsSelected2"  ng-model="profile.profiles.EmailIsSelected.val" value="2">
    <label for="EmailIsSelected2">
    Ні
    </label>
    </div>
    </div>
    </div>
    <div class="well col-md-12 ">

    <div class="form-group col-md-12 col-lg-12 margin-left-20 padding-left-0">
    <div class="col-md-12">
      <div class="checkbox checkbox-primary"  id="policy-checkbox-wrapper" >
        <input id="policy_checkbox" class="styled" type="checkbox" ng-model="profile.profiles.PolicyIsSelected" >
        <label for="policy_checkbox">
        </label>
      </div>
    </div>
    <div class="col-md-12 col-xs-12 padding-left-0">
    <h4>"Я погоджуюсь з обробкою ТОВ "Епіцентр К" моїх персональних даних, які є в цій формі для реалізації програми лояльності Епіцентр. Я заявляю, про своє право на доступ до своїх персональних даних та право на їх виправлення, та що ці персональні дані були надані на добровільній основі. Я заявляю, что приймаю усі офіційні правила Програми лояльності. Персональна інформація, яку містить дана форма буде внесена в базу даних ТОВ "Епіцентр К".</h4>
    <button id="profile-submit" type="button" ng-disabled="isDisabled || !profile.profiles.PolicyIsSelected || profile.profiles.BirthDay === null" ng-click="profile.saveProfile(profile.profiles)" class="btn btn-success center-block">Зберегти</button>
    </div>
    </div>
    </div>
    </div>

    </form>
  </article>
  <div class="footer-flex client-footer">
  <client-footer></client-footer>
    </div>
</div>

