

.post
{
  background-color: #FFF;
  overflow: hidden;
  box-shadow: 0 0 1px #CCC;
}
.post .content
{
  padding: 15px;
}
.post .author
{
  font-size: 11px;
  color: #737373;
  padding: 25px 30px 20px;
}
.post-img-content img {
  padding-bottom: 10px

}
.post-img-content span {
  padding-left: 15px
}
.content-text {
  padding-bottom: 10px;
}


